<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布系统</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-switch-master/css/bootstrap-switch.min.css">

</head>
<body>
    <div>
        <div class="pg-header">
            header
        </div><!-- pg-header -->
        <div class="pg-body">
            <div class="body-menu">
                <div class="menu-btn">
                    <div class="menu-btn-center" id="svn-btn" style="background-color: #4cae4c" onclick="SvnBtn();">
                        <h4 class="text-center" style="margin-top: 7px">SVN发布</h4>
                    </div>
                </div><!-- SvnBtn -->
                <div class="menu-btn">
                    <div class="menu-btn-center" id="package-btn" style="background-color: #f5e79e" onclick="PackageBtn();">
                        <h4 class="text-center" style="margin-top: 7px">代码包发布</h4>
                    </div>
                </div><!-- PackageBtn -->
                <div class="menu-btn">
                    <div class="menu-btn-center" id="package-btn" style="background-color: #c7254e" onclick="RollBack();">
                        <h4 class="text-center" style="margin-top: 7px">回滚操作</h4>
                    </div>
                </div><!-- PackageBtn -->
            </div><!-- body-menu -->
            <div class="body-content">
                <div>
                    {% block content %}{% endblock %}
                </div>
            </div><!-- body-menu -->
        </div><!-- pg-body -->
    </div><!-- container -->


{#<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.2.1.min.js"></script>#}
<script type="text/javascript" src="/static/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/layout_menu.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-switch-master/js/bootstrap-switch.min.js"></script>
</body>
</html>