{% extends "main/layout.html" %}

{% block content %}
    <div class="center-info">
        <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/package/">

            {% include 'inc/comm_select.html' %}

            <div class="form-group" style="margin-top: 20px;margin-left: 6px">
                <div class="col-sm-offset-4 col-sm-4">
                    <input type="file" name="upload_file">
                </div>
            </div><!-- end Upload File -->

            <div class="form-group" style="margin-top: 20px">
                <div class="col-sm-offset-5 col-sm-4">
                    <button type="submit" class="btn btn-warning">提交</button>
                </div>
            </div><!-- end submit botton-->

        </form>

        {% include 'inc/status.html' %}

    </div>

{% endblock %}